  
[Unit]
Description=Litary Service

[Service]
User=jenkins
WorkingDirectory=/opt/increment
EnvironmentFile=/opt/increment/flask.env
ExecStart=/bin/sh \
    -c 'cd /opt/increment && \
    . ./venv/bin/activate && \
    gunicorn --workers=4 --bind=0.0.0.0:5000 application:app'

[Install]
WantedBy=multi-user.target