{% extends "layout.html" %}

{% block body_content %}
<p>My library</p>
{% if posts %}
{% for lib in manage_library %}
	<div>
		<h3>{{ manage_lib.title }}</h3>
		<p><b> - First name:</b>{{ lib.first_name }}</p>
        <p><b> - Surname:</b>{{ lib.surname }}</p>
        <p><b> - Title:</b>{{ lib.title }}</p>
        <p><b> - Pages:</b>{{ lib.pages }}</p>
        <p><b> - Language:</b>{{ lib.language }}</p>
	</div>
{% endfor %}
{% else %}
    <!-- display a message indicating that there are no posts --> 
    <p>There are no books in your library</p>
<!-- end the 'if' statement -->
{% endif %}
{% endblock %}


