{% extends "layout.html" %}
{% block body_content %}
<p><h1>My library</h1></p>
{% if book_library %}
{% for lib in book_library %}
	<div>
		<h3>{{ book_library.title }}</h3>
		<p> 
		- First name:</b>{{ lib.first_name }}
		- Surname:</b>{{ lib.surname }}
		- Title:</b>{{ lib.title }}
		- Pages:</b>{{ lib.pages }}
		- Language:</b>{{ lib.language }}
		<a href="{{ url_for('update_lib', book_id=lib.id) }}"> Edit book</a>
		<a href="{{ url_for('delete_book', book_id=lib.id) }}"> Delete book</a>
		</p>
	</div>
{% endfor %}
{% endif %}
{% if main_library %}
{% for rate in main_library %}
	<div>
		<h3>{{ main_library.title }}</h3>
		<p> 
		- rating:</b>{{ rate.rating }}
		- Comment:</b>{{ rate.comment }}
		</p>
	</div>
	
{% endfor %}
{% else %}
	<p>There are no books in your library</p>
{% endif %}
{% endblock %}


