{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name }}
            <br>
            {{ form.surname.label }}
            {{ form.surname }}
            <br>
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.pages.label }}
            {{ form.pages }}
            <br>
            {{ form.language.label }}
            {{ form.language }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}